[submodule "server_src/box2d"]
	path = server_src/box2d
	url = https://github.com/erincatto/box2d
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
